# Framework
Django==2.2.19
django-polymorphic==3.0.0
django-rest-polymorphic==0.1.9
djangorestframework==3.12.2

# Compile SCSS
libsass==0.20.1

# Images
Pillow==8.1.2

# Access database
psycopg2-binary==2.8.6

# Generate docker-compose
pyyaml==5.4.1