Django==2.2.5
django-polymorphic==2.1.2
django-rest-polymorphic==0.1.8
djangorestframework==3.10.3
gunicorn==19.9.0
libsass==0.19.2
Pillow==6.2.0
psycopg2-binary==2.8.3
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
