.button{
  background: none;
  border:none;

  display: flex;
  justify-content: center;
  align-content: center;
  border: $border;
  border-radius: $border-radius;
  background-color: $ac_white;
  text-decoration: none;
  padding: $small-gap/2 $small-gap;
}

header nav .button{
  box-shadow: $box-shadow;
}