$ac_red: hsl(5, 80%, 57%);
$ac_green: hsl(132, 52%, 38%);
$ac_yellow: hsl(51, 100%, 48%);
$ac_gray: hsl(0, 0%, 62%);
$ac_white: hsl(0, 0%, 100%);
$ac_text: hsl(0, 0%, 40%);
$ac_link: hsl(212, 37%, 50%);