.creature-thumb{
  font-size: px-rem(14);
  > p{
    text-align: center;
  }
  &:hover{
    img{
      transform: scale(1.25);
    }
  }
}

.creature-preview{
  display:block;
  position: relative;
  &-pic{
    border: $border;
    border-radius: 50%;
    width: 100%;
    overflow: hidden;
    > img{
      display:block;
      width: 100%;
      aspect-ratio: 1 / 1;
      background-color: $ac_gray;
      object-fit: cover;
      object-position: center;
      transition: $transition;
    }
  }
}

.creature-banner{
  position: absolute;
  top:0;
  right:0;
  height: $small-gap;
  display:flex;
  align-items: center;
  padding: 0 $small-gap/2;
  border-radius: $small-gap/2;
  color: $ac_white;
  background-color: $ac_red;
}