.months{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border:px-rem(1) solid $ac_gray;
  border-radius: px-rem(10);
  overflow: hidden;

  > li{
    cursor: default;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-right:px-rem(1) solid $ac_gray;
    background-color: $ac_white;
    padding: px-rem(10);

    &:last-child{
      border: none;
    }

    &.active{
      color: $ac_white;
    }

    &.current{
      box-shadow: inset 0rem px-rem(2) px-rem(5) 0rem hsla(0, 0%, 0%, 0.75);
    }
  }
}