.unit-thumb{
  font-size: px-rem(14);
  > p{
    text-align: center;
  }
}

.unit-preview{
  display:block;
  position: relative;
  padding-top: 100%;
  &-pic{
    display:block;
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: $ac_gray;
    border: $border;
    border-radius: 50%;
    overflow: hidden;
  }
}

.unit-banner{
  position: absolute;
  top:0;
  right:0;
  height: $small-gap;
  display:flex;
  align-items: center;
  padding: 0 $small-gap/2;
  border-radius: $small-gap/2;
  color: $ac_white;
  background-color: $ac_red;
}