<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ meta_description }}">
    <title>{% if page_title %}{{ page_title }} |{% endif %} Animal Crossing New Leaf Encyclopedia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/acnl.gen.css' %}" >
</head>
<body>
    {% include 'base/header.html' %}
    <main>{% block main %}{% endblock %}</main>
    <footer>{% include 'base/footer.html' %}</footer>
    {% block script %}{% endblock %}
</body>
</html>