{% load static %}
<header class="grid padding">
    <section class="cs4 cm4 cmm2 cl4 clm4">
        <img src="{% static 'img/logo/logo.png' %}" alt="Animal Crossing New Leaf Logo">
    </section>
    <section class="cs4 cm8 cl8 clm2">
        <nav>
            <ul>
                {% url 'last' as url_last %}
                <li><a  class="button
                               {% ifequal request.path url_last %}active{% endifequal %}"
                        href="{% url 'last' %}" class="menu-item">{{ mon }} last chance</a></li>

                {% url 'monthly' as url_monthly %}
                <li><a  class="button
                               {% ifequal request.path url_monthly %}active{% endifequal %}"
                        href="{% url 'monthly' %}" class="menu-item">Available in {{mon}}</a></li>

                {% url 'index' as url_index %}
                {% url 'unit' unit.id as url_unit %}
                <li><a  class="button
                               {% ifequal request.path url_index %}active{% endifequal %}
                               {% ifequal request.path url_unit %}active{% endifequal %}"
                        href="{% url 'index' %}">Encyclopedia</a></li>
            </ul>
        </nav>
    </section>
</header>