{% extends "base/base.html" %}
{% load static %}
{% block main %}
    <article class="cs4 cm8 cl8 clm2 block creature"
             style="border-color: {{ creature.rarity.hsl_color }}">
        <header>
            <ul class="breadcrumbs">
                <li><a href="{% url 'encyclopedia:encyclopedia' %}">Encyclopedia</a></li>
                <li>{{ page_title }}</li>
            </ul>
        </header>
        <main class="grid-fluid">
            <section class="cs4 cm8 cl8 creature-description">
                <h1 style="color: {{ creature.rarity.hsl_color }}">
                    {{ creature.name }} {% if last %}<small>last chance</small>{% endif %}
                </h1>
                <p>{{ creature.description }}</p>
            </section>
            <section class="cs4 cm8 cl4 creature-side-notation">
                <img class="creature-pic" src="{{ creature.picture_url }}" alt="{{ creature.name }}">
                {% if creature.shadow %}
                     {% if creature.section.name == "Fish" %}
                        {% with 'img/shadows/shadow-'|add:creature.shadow|add:'.svg' as shadow %}
                          <img class="creature-shadow" src="{% static shadow %}" alt="{{creature.name}} shadow in New Leaf">
                        {% endwith %}
                     {% else %}
                        {% with 'img/shadows/deep-shadow-'|add:creature.shadow|add:'.svg' as deepshadow %}
                          <img class="creature-shadow" src="{% static deepshadow %}" alt="{{creature.name}} shadow in New Leaf">
                        {% endwith %}
                     {% endif %}
                {% endif %}
                <ul>
                    <li><b>Rarity:</b>
                        <span style="color: {{ creature.rarity.hsl_color }}">
                            {{ creature.rarity.as_stars }}
                        </span>
                    </li>
                    <li><b>Location:</b> {{creature.location }}</li>
                    <li><b>Price:</b> {{creature.price}} bells</li>
                </ul>
            </section>
            <section class="cs4 cm8 cl8 creature-season">
                <h2>Time of a year</h2>
                <ul class="months">
                    {% for month in months %}
                        <li class="{{ month.season.name }}
                        {% if month.is_active %}active{% endif %}
                        " {% if month.is_active %}style="background-color: {{ month.season.hsl_color }}"{% endif %}>
                            {{ month.name|slice:":3" }}</li>
                    {% endfor %}
                </ul>
            </section>
            <section class="cs4 cm8 cl4 creature-time">
                <h2>Time of a day</h2>
                <p>{{ creature.time }}</p>
            </section>
        </main>
        <footer>
            {% if prev %}
                <a href="{{ prev.url }}">&larr;&nbsp;{{ prev.name }}</a>
            {% endif %}
            {% if next %}
                <a href="{{ next.url }}">{{ next.name }}&nbsp;&rarr;</a>
            {% endif %}
        </footer>
    </article>
{% endblock %}
{% block script %}{% endblock %}