{% extends "base/base.html" %}
{% load static %}

{% block main %}
    <h1 class="cs4 cm8 cl8 clm2">{{ page_title }}</h1>
{% for section in sections %}
    <section class="cs4 cm8 cl8 clm2 block encyclopedia" id="id_{{ section.slug }}">
        <h2>{{ section.name }}</h2>
        {% include 'include/creature-pagination.html' with creatures=section.creatures section_pk=section.pk section_slug=section.slug%}
    </section>
{% endfor %}
{% endblock %}

{% block script %}
<script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}
