{% extends "include/page.html" %}
{% load staticfiles %}
{% block title %} {{ mon }} last chance |{% endblock %}
{% block meta %}
<meta name="title" content="This month last chance">
<meta name="description" content="All collectable creatures that gone next month.">
{% endblock %}
{% block content %}
	<div  itemscope itemtype="http://schema.org/ItemList" class="panel panel-default panel-units">
		<div class="panel-body">
			<meta content="{{mon}}">
			<div class="page-header unit-name">
				<h1 itemprop="name">{{ mon }} last chance: bugs</h1>
			</div>
			<div class="row carousel">
				{% for unit in bugs %}
						<div class="col-xs-2">
						  <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Thing" class="unit-container">
							<a itemprop="url" class="to-unit" href="{% url 'unit' unit.id %}">
								<img itemprop="image" src="{{ unit.pic.url }}" class="img-responsive img-circle unit rarity-{{unit.rarity}}" alt="{{unit.name}} in New Leaf" height="131" width="131">
								<p itemprop="name" class="text-center"><small>{{unit.name}}</small></p>
							</a>
						  </div>	
						</div>
				{% empty %}
					<div class="col-xs-12">
						<h2>
							There are no bugs which disappear next month.
						</h2>
					</div>						
				{% endfor %}
			</div>
		</div>
	</div>
	
	<div  itemscope itemtype="http://schema.org/ItemList" class="panel panel-default panel-units">
		<div class="panel-body">
			<meta content="{{mon}}">
			<div class="page-header unit-name">
				<h1 itemprop="name">{{ mon }} last chance: fish</h1>
			</div>
			<div class="row carousel">
				{% for unit in fish %}
						<div class="col-xs-2">
						  <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Thing" class="unit-container">
							<a itemprop="url" class="to-unit" href="{% url 'unit' unit.id %}">
								<img itemprop="image" src="{{ unit.pic.url }}" class="img-responsive img-circle unit rarity-{{unit.rarity}}" alt="{{unit.name}} in New Leaf" height="131" width="131">
								<p itemprop="name" class="text-center"><small>{{unit.name}}</small></p>
							</a>
						  </div>	
						</div>
				{% empty %}
					<div class="col-xs-12">
						<h2>
							There are no fish which disappear next month.
						</h2>
					</div>						
				{% endfor %}
			</div>
		</div>
	</div>
	
	<div  itemscope itemtype="http://schema.org/ItemList" class="panel panel-default panel-units">
		<div class="panel-body">
			<meta content="{{mon}}">
			<div class="page-header unit-name">
				<h1 itemprop="name">{{ mon }} last chance: deep sea creatures </h1>
			</div>
			<div class="row carousel">
				{% for unit in deep %}
						<div class="col-xs-2">
						  <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Thing" class="unit-container">
							<a itemprop="url" class="to-unit" href="{% url 'unit' unit.id %}">
								<img itemprop="image" src="{{ unit.pic.url }}" class="img-responsive img-circle unit rarity-{{unit.rarity}}" alt="{{unit.name}} in New Leaf" height="131" width="131">
								<p itemprop="name" class="text-center"><small>{{unit.name}}</small></p>
							</a>
						  </div>	
						</div>
				{% empty %}
					<div class="col-xs-12">
						<h2>
							There are no deep sea creatures which disappear next month.
						</h2>
					</div>						
				{% endfor %}
			</div>
		</div>
	</div>
	{% include "include/footer.html" %}
{% endblock %}
{% block script %}
{% endblock %}
