{% extends "include/page.html" %}
{% load staticfiles %}
{% block title %} Available in {{mon}} |{% endblock %}
{% block meta %}
<meta name="title" content="Available this month.">
<meta name="description" content="All collectable creatures available this month.">
{% endblock %}
{% block content %}
    <div  itemscope itemtype="http://schema.org/ItemList" class="panel panel-default panel-units">
		<div class="panel-body">
			<meta content="{{mon}}">
			<div class="page-header unit-name">
				<h1 itemprop="name">Bugs available in {{mon}}</h1>
			</div>
			<div class="row carousel">
				{% for unit in new_bugs %}
						<div class="col-xs-2">
						  <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Thing" class="unit-container">
							<a itemprop="url" class="to-unit" href="{% url 'unit' unit.id %}">
								<span class="badge new-badge">new</span>
								<img itemprop="image" src="{{ unit.pic.url }}" class="img-responsive img-circle unit rarity-{{unit.rarity}} new-unit" alt="{{unit.name}} in New Leaf" height="131" width="131">
								<p itemprop="name" class="text-center"><small>{{unit.name}}</small></p>
							</a>
						  </div>	
						</div>						
				{% endfor %}
				{% for unit in old_bugs %}
						<div class="col-xs-2">
						  <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Thing" class="unit-container">
							<a itemprop="url" class="to-unit" href="{% url 'unit' unit.id %}">
								<img itemprop="image" src="{{ unit.pic.url }}" class="img-responsive img-circle unit rarity-{{unit.rarity}}" alt="{{unit.name}} in New Leaf" height="131" width="131">
								<p itemprop="name" class="text-center"><small>{{unit.name}}</small></p>
							</a>
						  </div>	
						</div>						
				{% endfor %}
			</div>
		</div>
	</div>
    <div  itemscope itemtype="http://schema.org/ItemList" class="panel panel-default panel-units">
		<div class="panel-body">
			<meta content="{{mon}}">
			<div class="page-header unit-name">
				<h1 itemprop="name">Fish available in {{mon}}</h1>
			</div>
			<div class="row carousel">
				{% for unit in new_fish %}
						<div class="col-xs-2">
						  <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Thing" class="unit-container">
							<a itemprop="url" class="to-unit" href="{% url 'unit' unit.id %}">
								<span class="badge new-badge">new</span>
								<img itemprop="image" src="{{ unit.pic.url }}" class="img-responsive img-circle unit rarity-{{unit.rarity}} new-unit" alt="{{unit.name}} in New Leaf" height="131" width="131">
								<p itemprop="name" class="text-center"><small>{{unit.name}}</small></p>
							</a>
						  </div>	
						</div>						
				{% endfor %}
				{% for unit in old_fish %}
						<div class="col-xs-2">
						  <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Thing" class="unit-container">
							<a itemprop="url" class="to-unit" href="{% url 'unit' unit.id %}">
								<img itemprop="image" src="{{ unit.pic.url }}" class="img-responsive img-circle unit rarity-{{unit.rarity}}" alt="{{unit.name}} in New Leaf" height="131" width="131">
								<p itemprop="name" class="text-center"><small>{{unit.name}}</small></p>
							</a>
						  </div>	
						</div>						
				{% endfor %}
			</div>
		</div>
	</div>
    <div  itemscope itemtype="http://schema.org/ItemList" class="panel panel-default panel-units">
		<div class="panel-body">
			<meta content="{{mon}}">
			<div class="page-header unit-name">
				<h1 itemprop="name">Deep sea creatures available in {{mon}}</h1>
			</div>
			<div class="row carousel">
				{% for unit in new_deep %}
						<div class="col-xs-2">
						  <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Thing" class="unit-container">
							<a itemprop="url" class="to-unit" href="{% url 'unit' unit.id %}">
								<span class="badge new-badge">new</span>
								<img itemprop="image" src="{{ unit.pic.url }}" class="img-responsive img-circle unit rarity-{{unit.rarity}} new-unit" alt="{{unit.name}} in New Leaf" height="131" width="131">
								<p itemprop="name" class="text-center"><small>{{unit.name}}</small></p>
							</a>
						  </div>	
						</div>						
				{% endfor %}
				{% for unit in old_deep %}
						<div class="col-xs-2">
						  <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Thing" class="unit-container">
							<a itemprop="url" class="to-unit" href="{% url 'unit' unit.id %}">
								<img itemprop="image" src="{{ unit.pic.url }}" class="img-responsive img-circle unit rarity-{{unit.rarity}}" alt="{{unit.name}} in New Leaf" height="131" width="131">
								<p itemprop="name" class="text-center"><small>{{unit.name}}</small></p>
							</a>
						  </div>	
						</div>						
				{% endfor %}
			</div>
		</div>
	</div>
	{% include "include/footer.html" %}
{% endblock %}
{% block script %}
{% endblock %}
