{% extends "include/page.html" %}

{% load staticfiles %}

{% block title %} {{unit.name}} |{% endblock %}
{% block meta %}
<meta name="title" content="{{unit.name}} in New Leaf">
<meta name="description" content="{{ unit.desc|truncatechars:100 }}">
<meta property="og:title" content="{{unit.name}} in New Leaf">
<meta property="og:description" content="{{ unit.desc|truncatechars:100 }}">
<meta property="og:image" content="{{ unit.pic.url }}" >
{% endblock %}

{% block content %}
	<div itemscope itemtype="http://schema.org/Thing" class="panel panel-default rarity-{{unit.rarity}} panel-border">
		<div class="panel-body panel-unit">
			<div class="row" >
				<ol class="breadcrumb">
				  <li><a href="{% url 'encyclopedia:encyclopedia' %}">Encyclopedia</a></li>
				  <li class="active">{{unit.name}}</li>
				</ol>				
				{% if last == 2 %}
					<div class="alert alert-danger alert-unit" role="alert"><p class="text-center"><b>{{unit.name}} will be gone next month!</b></p></div>
				{% endif %}
			</div>
			<div class="row unit-description">
				<div class="col-xs-8">
					<div class="page-header unit-name">
					  <h1 itemprop="name">{{unit.name}}</h1>
					 </div>
					<p itemprop="description" class="description"> {{unit.desc}} </p>
				</div>
				<div class="col-xs-4">
					<img itemprop="image" id="unit-img" src="{{ unit.pic.url }}" class="img-responsive img-thumbnail unit-big" alt="{{unit.name}} in New Leaf" height="131" width="131">
					<meta content="{{unit.section.name}}">
					{% if unit.shadow %}
					     {% if unit.section.name == "Fish" %}
							{% with 'img/shadows/shadow-'|add:unit.shadow|add:'.svg' as shadow %}
							  <img itemprop="image" id="" src="{% static shadow %}" class="img-responsive img-thumbnail unit-shadow" alt="{{unit.name}} shadow in New Leaf">
							{% endwith %}
						 {% else %}
							{% with 'img/shadows/deep-shadow-'|add:unit.shadow|add:'.svg' as deepshadow %}
							  <img itemprop="image" id="" src="{% static deepshadow %}" class="img-responsive img-thumbnail unit-shadow" alt="{{unit.name}} shadow in New Leaf">
							{% endwith %}
						 {% endif %}
					{% endif %}					 
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-8">
					 <p><b>Rarity:</b> 
					 {% for star in rarity_range %}
						<i class="fa fa-star rarity-text-{{unit.rarity}}"></i>
					 {% endfor %}
					  </p>
					 <p><b>Location:</b> {{unit.loc}} </p>
					 <p>
					 {% if unit.island %}
						Available
					 {% else %}
						Unavailable
					 {% endif %} on Tortimer's island.
					 </p>			
					 <p itemprop="description"><b>Price:</b> {{unit.price}} bells</p>				
				</div>
			</div>
			{% if months %}
			<div class="row">				
				<div class="col-xs-8">
					<div class="page-header">
					  <h2>Time of a year</h2>
					 </div>
					<div class="btn-group year" role="group" aria-label="...">
					{% for month in months %}	
					  <button type="button" class="btn btn-default disabled
						  {% if month in unit.months.all  %}
							{{month.season}}
						  {% else %}							
						  {% endif %}
						  {% if forloop.last %}
						  last-month
						  {% endif %}				  
					  ">{{month.name|slice:":3"}}</button>
					{% endfor %}
					{% if unit.months.all|length == 12 %}
						<meta itemprop="description" content="Appears whole year."> 
					{% else %}
						<meta itemprop="description" content="Appears only in {% for month in unit.months.all %}{{month.name}}{% if not forloop.last %}, {% endif %}{% endfor %}.">
					{% endif %} 
					</div>
				</div>	
				<div class="col-xs-4">
					<div class="page-header">
					  <h2>Time of a day</h2>					  
					 </div>
					 {% if unit.str_time|time:"H:i"  == '00:00' and unit.end_time|time:"H:i"  == '00:00' %}
					 <meta itemprop="description" content="Spawns all day.">
					 <p class="time">All day</p>
					 {% else %}
					 <p class="time">From {{unit.str_time}} till {{unit.end_time}} </p>
					 <meta itemprop="description" content="Spawns only from {{unit.str_time}} till {{unit.end_time}}">
					 {% endif %}
				</div>	
			</div>
			{% endif %}
			<hr>
			<div class="row">
				<div class="col-xs-3">
					{% if prev %}
						<p class="text-left"><a href="{% url 'encyclopedia:unit' prev.id %}"><i class="fa fa-arrow-left"></i> {{prev.name}}</a></p>
					{% endif %}
				</div> 
				<div class="col-xs-3 col-xs-offset-6">
					{% if next %}
						<p class="text-right"><a href="{% url 'encyclopedia:unit' next.id %}">{{next.name}} <i class="fa fa-arrow-right"></i></a></p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% include "include/footer.html" %}
{% endblock %}

{% block script %}
{% endblock %}
