{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    {% block meta %}{% endblock %}
    <title>
        {% block title %}{% endblock %}	Animal Crossing New Leaf Encyclopedia
    </title>
    {% include "include/head.html" %}
    {% include "include/analytics.html" %}

</head>
<body>
    <div class='container'>
                {% block page %}
                {% endblock %}
    </div>
    {% block script %}{% endblock %}
</body>
</html>	
