{% for creature in creatures %}
<a class="creature-thumb cs2 cm2 cl2" href="{{ creature.url }}">
    <div class="creature-preview">
        <div class="creature-preview-pic" style="border-color: {{ creature.rarity.hsl_color }}">
            <img src="{{ creature.picture_url }}" alt="{{ creature.name }} in New Leaf">
        </div>
        {% if not creature.was_in_previous_month and creature.is_available_this_month %}
        <div class="creature-banner">new</div>
        {% endif %}
    </div>
    <p>{{ creature.name }}</p>
</a>
{% endfor %}