<div class="panel panel-default panel-units">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-7">			
					<p>
					First of all this is non-commercial fan site.<br>
					Our goal was recreating actual ingame encyclopedia.<br>
					Most of the data we took from <a href="http://animalcrossing.wikia.com/" target="_blank">Animal Crossing Wikia</a> and <a href="https://nookipedia.com" target="_blank">Nookipedia</a>.<br>
					Contact us <a href="mailto:feedback@ac-newleaf.info">feedback@ac-newleaf.info</a>.
					</p>
				</div>
				<div class="col-xs-5">
					<p class="text-right"><a href="http://www.animal-crossing.com/newleaf/" target="_blank">Animal Crossing New Leaf web site.</a></p>
					<p class="text-right"><a href="http://www.nintendo.com/" target="_blank">Nintendo web site.</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<hr>
					<p class="text-center"> Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a>, <a href="Http://www.postgresql.org/" target="_blank">PosgreSQL</a>, <a href="https://www.getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="http://kenwheeler.github.io/slick/" target="_blank">Slick</a>. 2015</p>
				</div>
			</div>
		</div>
</div>
