<footer>
    <section class="panel">
        <div>
            <p>
                First of all this is non-commercial fan site.<br>
                Our goal was recreating actual ingame encyclopedia.<br>
                Most of the data we took from <a href="http://animalcrossing.wikia.com/" target="_blank">Animal Crossing Wikia</a> and <a href="https://nookipedia.com" target="_blank">Nookipedia</a>.<br>
                Contact us <a href="mailto:feedback@ac-newleaf.info">feedback@ac-newleaf.info</a>.
            </p>
            <p class="text-right"><a href="http://www.animal-crossing.com/newleaf/" target="_blank">Animal Crossing New Leaf web site.</a></p>
            <p class="text-right"><a href="http://www.nintendo.com/" target="_blank">Nintendo web site.</a></p>
        </div>
        <hr>
        <p>
            Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a>,
            <a href="Http://www.postgresql.org/" target="_blank">PosgreSQL</a>. 2015
        </p>
    </section>
</footer>
