{% load staticfiles%}

	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">	
	<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/ac_encyclopedia.css' %}" >
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
<!--
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
-->

